<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="nottsBody">
    <h1 id="place" >The forecast for Nottingham is:</h1>
    <div class="weatherContainer" >
        <div class="weatherBoxes">
            <h3 class="date">{{fDate1}}</h3>
            <h3 class="temp" >{{{fTemp1}}}°c</h3>
            <h4 class="type">{{fWeatherType1}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon1}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate2}}</h3>
            <h3 class="temp" >{{{fTemp2}}}°c</h3>
            <h4 class="type">{{fWeatherType2}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon2}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate3}}</h3>
            <h3 class="temp" >{{{fTemp3}}}°c</h3>
            <h4 class="type">{{fWeatherType3}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon3}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate4}}</h3>
            <h3 class="temp" >{{{fTemp4}}}°c</h3>
            <h4 class="type">{{fWeatherType4}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon4}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate5}}</h3>
            <h3 class="temp" >{{{fTemp5}}}°c</h3>
            <h4 class="type">{{fWeatherType5}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon5}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate6}}</h3>
            <h3 class="temp" >{{{fTemp6}}}°c</h3>
            <h4 class="type">{{fWeatherType6}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon6}}@2x.png" />
        </div>
        <div class="weatherBoxes">
            <h3 class="date">{{fDate7}}</h3>
            <h3 class="temp" >{{{fTemp7}}}°c</h3>
            <h4 class="type">{{fWeatherType7}}</h4>
            <img class="pics" src="http://openweathermap.org/img/wn/{{fIcon7}}@2x.png" />
        </div>
    </div>
    <div class="imageBox">
        <img id="nottsImg" src="https://www.thingstodoinnottinghamshire.co.uk/images/carousel/Nottingham.jpg" />
    </div>

    <script src="/js/main.js"></script>
</body>
</html>